# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
PRD.md

# Foundry
out/
cache/

# Coverage
coverage/

# Dotenv file
.env

.DS_Store

